.but {
  background-color: #0b69ff;
  color: white;
  border-radius: 15px;
  width: 78px;
  height: 36px;
  border-color: transparent;
}

.nav-link {
  text-decoration: none;
  color: #475569;
  font-family: 'Roboto';
}

.nxt-logo {
  height: 35px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  list-style-type: none;
}
